.headshot {
    border-radius: 25%;
    height: 300px;
}

.name {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: #F3EDC8;
    
}

html {
    background-color: #EAD196;
}

body {
    margin: 0px;
    background: linear-gradient(to right, #BF3131, #7D0A0A);
    color: #000000;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    font-family: 'PT Sans', sans-serif;
}

.name>h3 {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}

.info {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr;
}

/* .contact-me {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
} */

.row {
    border-radius: 5%;
    margin: 30px;
    background-color: #EAD196;
    display: flex;
    justify-content: center;
}

.top {
    border-radius: 10px;
}

.bottom {
    margin-top: 0px;
    padding: 10%;
    justify-content: flex-start;
}

p {
    text-align: justify;
}

li {
    text-align: left;
    margin: 20px;
}

ul {
    margin: 10px;
}

hr {
    margin-left: 0px;
    margin-right: 0px;
}

header {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
}

h2 {
    height: 30px;
    font-family: 'Playfair Display', serif;
}

.contact {
    text-align: center;
    background-color: #EAD196;
    margin: 0px 30px 20px;
    padding-top: 1px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.links {
    display: flex;
    justify-content: space-evenly;

}

footer {
    font-family: 'PT Sans', sans-serif;
}